article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

@import url('https://fonts.googleapis.com/css?family=Quicksand|Fredoka+One&display=swap');

html {
  font-size: 125%;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Quicksand";
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One';
}

.App-header {
  background-image: url(/assets/carpet.jpg);
  display: flex;
  flex-flow: column;
}

.contentWrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.imageBox {
  padding: 20px;
  background-color: rgba(176, 204, 204, 0.918);
  border-radius: 20px;
}
.votingBooth {
  min-height: 550px;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.votingBooth img,
.leaderboard img {  
  max-width: 100%;
  height: 50vh;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.leaderboard ol {
  margin-top: 100px;
}


.leaderboard .imageBox {
  position: relative;
  margin-bottom: 120px;
}

.leaderboard .imageBox .rank {
  font-family: "Fredoka One";
  font-size: 2rem;
}

.votesTab {
  background-color: teal;
    position: absolute;
    padding: .5rem 1rem;
    bottom: 100%;
    left: 1rem;
    right: 1rem;
    max-width: calc(1280px/3);
    margin: 0;
    border-radius: 10px 10px 0 0;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.App-header {
  min-height: 100vh;
}

.App-header h1, h2 {
  text-align: center;
  margin: 0;
  color: teal;
  text-shadow: -2px -2px 0 #efefefcd,
               -2px 2px 0 #efefefcd,
                2px -2px 0 #efefefcd,
                2px 2px 0 #efefefcd;
} 

.App-header h1 {
  padding-top: 20px;
}

.voteGetter button {
  width: 45%;
  height: 60px;
  border-radius: 20px;
  border: 10px solid rgba(128, 128, 128, 0.171)
}

.voteGetter button:focus {
  outline: solid 5px rgba(0, 255, 255, 0.835);
}

.voteGetter .left {
  float: left;
  background-color: rgb(231, 178, 178);
}

.voteGetter .right {
  float: right;
  background-color: rgb(153, 202, 169);
}